html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  width: 330px;
  margin: 0 auto;
  padding: 20px;
  height: 350px;
  margin-top: 0px;
  border: 1px solid #16db99;
  gap: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 30px 2px rgb(205, 204, 204);
}

label {
  color: #0b3d91;
  color: rgb(73, 73, 73);
  font-size: 20px;
  margin-top: 15px;
}

label:first-child {
  margin-top: 0;
}

input {
  border: 1px solid #16db99;
  padding: 10px;
  outline: none;
  width: 90%;
  border-radius: 5px;
}

button {
  padding: 12px 17px;
  border: none;
  background-color: #16db99;
  color: #ecfeff;
  text-transform: uppercase;
  border-radius: 5px;
  margin: 10px auto;
  font-weight: bold;
  cursor: pointer;
}
.img {
  border-radius: 50%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #16db99;
  top: 10vh;
  left: 0;
  right: 0;
  text-align: center;
  background-image: url("./img/kunduz.jpeg");
  background-position: center;
  background-size: contain;
  object-fit: cover;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  width: 110px;
  height: 110px;
}
.footer p {
  font-size: 14px;
  margin: 10px;
  padding: 0;
}
